body{
    background-color: #f7f8ef;
    font-family: 'Inter', sans-serif;
    padding: 15px; /*espaço de dentro da div em relação ao conteúdo*/
    flex-direction: column; /*define a direção (horizontal
    ou vertical) e a ordem (normal ou invertida) em que os itens flexíveis são organizados dentro de um contêiner flex.*/
    display: flex;
}

.navbar{
    display: flex;
    gap: 20px;
    padding-left: 50px;
    background-color: aquamarine;
}

.navbar a{
    text-decoration: none;
    color: black;
}

#ativo{
    border-bottom: 3px solid;
}

.principal{
    display: flex;
    flex: 1;
    background-color: purple;
    font-size: 25px;
    align-items: center;
}

#espaco_imagem{
    /*  width: 900px;*/
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.container-login{
    background-color: red;
    /*width: 700px;*/
    height: 850px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#logo_c{
    width: 492px;
    height: 126px;
    
}

.footer{
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: pink;
    padding: 20px;
}

.footer a{
    text-decoration: none;
    color: black;
    padding: 20px;
}