body{
    background-color: #f7f8ef;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar{
    display: inline;
    padding: 5px;
}

#ativo{
    border-bottom: #016cda;
}
/* Responsividade básica */
@media (max-width: 768px) {
    
}
